@tailwind base;
@tailwind components;
@tailwind utilities;
@import "node_modules/nord/src/sass/nord.scss";

:root {
  --border-width: 0.4rem;
  --border-radius: 3rem;
  --border-color: #{$nord2};

  font-family: "Comfortaa", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: $nord6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --inner-radius: calc(var(--border-radius) - var(--border-width));
}

#app {
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;

  background-color: $nord0;

  #content-area {
    padding: calc(2 * var(--border-width));
  }
}
