@tailwind base;
@tailwind components;
@tailwind utilities;
@import "node_modules/nord/src/sass/nord.scss";

:root {
  --border-width: 0.4rem;
  --border-radius: 3rem;
  --border-color: #{$nord2};

  font-family: "Comfortaa", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: $nord6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --inner-radius: calc(var(--border-radius) - var(--border-width));
}

#app {
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;

  background-color: $nord0;

  #content-area {
    position: relative;

    margin: calc(2 * var(--border-width));

    flex: 1;
  }
}

.container {
  background-color: $nord1;
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--border-color);
}

.mirrored {
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

.panel-buttons {
  @extend .container;

  position: relative;
  width: fit-content;

  display: flex;
  gap: var(--border-width);

  background-color: var(--border-color);

  overflow: hidden;

  & > * {
    position: relative;
    height: 3.2rem;
    width: 3.2rem;

    background-color: $nord1;

    & > svg {
      height: 100%;
      width: 100%;

      padding-block: 16%;

      color: $nord4;

      pointer-events: none;

      transition: color 150ms ease-in;
    }

    &:after {
      content: "";

      position: absolute;
      height: 0.3rem;
      width: 0rem; /* max: 2.6rem */
        
      top: 0.78rem;
      left: 0.78rem;

      background-color: $nord11;
      border-radius: 0.15rem;
      outline-style: solid;
      outline-color: $nord1;
      outline-width: 0.2rem;

      transform-origin: 0.15rem 0.15rem;
      transform: translate(-0.15rem, -0.15rem) rotate(45deg);

      pointer-events: none;

      transition: width 150ms ease-in;
    }

    &.off {
      & > svg {
        color: rgba($nord4, 0.5);
      }

      &:after {
        width: 2.6rem;

        opacity: 1;
      } 
    }
  }
}
